.places h1
{
    font-size: 30px;
}
.type_places
{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 55px;
}

.places .wrapper article
{
    width: 390px;
    border: solid #FF5A5F 1px ;
    border-radius: 4px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    position: relative;
}

.places .wrapper
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places .wrapper .price_by_night
{
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    width: 60px;
    height: 60px;
    font-size: 30px;
    padding: 10px;
    border-radius: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 13px;
    right: 13px;
}

.information
{
    height: 80px;
    border-top: solid #DDDDDD 1px;
    border-bottom: solid #DDDDDD 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

.information p
{
    margin: 0px;
}

.img1
{
    content: url(../images/icon_group.png);
    margin: 0 auto;
}


.img2
{
    content: url(../images/icon_bed.png);
    margin: 0 auto;
}


.img3
{
    content: url(../images/icon_bath.png);
    margin: 0 auto;
}

.number_rooms, .number_bathrooms, .max_geust
{
	display: inline-block;
	width: 100px;
	text-align: center;
	margin: 0px auto;
}

.user, .description
{
    text-align: left;
}
.amenities li
{
    display: flex;
    align-items: center;
}

.wrapper .amenities h2
{
    text-align: left;
}
.places .amenities  li .pet-friendly{
    content: url(../images/icon_pets.png);
    width: 29px;
    height: auto;
    margin-right: 15px;
}

.tv{
    content: url(/images/icon_tv.png);
    width: 29px;
    height: auto;
    margin-right: 15px;
    margin-top: 10px;
}

.wifi{
    content: url(/images/icon_wifi.png);
    width: 29px;
    height: auto;
    margin-right: 15px;
    margin-top: 10px;
}
