footer
{
    width: 100%;
    height: 60px;
    background-color: white;
    bottom: 0;
    position: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
    border-top: solid 1px #cccccc;
}
